<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>VueJS</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script> -->
    <script src="../js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div id="app">  <!--HTML DOM template-->
        Your task: <input type="text" v-model="newTask" @keyup.enter="addTask">

        <h3>To-Do List</h3>
        <ol>
            <li v-for="task in tasks">{{task}} -- <a href="#" @click="removeTask(task)">Delete</a></li>
        </ol>
    </div>

    <script>
        new Vue({    
            el: '#app', 
            data: {      //變數存放的地方
                tasks: [],
                newTask: '',
            },
            methods: {  //函數放這裡               
                addTask(){   
                    //請參考 jQuery/22_inArray.html
                    // $.inArray(物件,物件陣列);
                    
                    if($.inArray(this.newTask,this.tasks) == -1){
                        this.tasks.push(this.newTask); 
                    }
                    this.newTask = '';
                },
                removeTask(data){
                    // 陣列.splice(index,刪除的筆數);
                    // alert(this.tasks.indexOf(data));
                    this.tasks.splice(this.tasks.indexOf(data),1);
                },
            },
            computed: { //函數也可以放這裡，但是放在這裡的函數，不能傳參數，一定要有傳回值(return)    
                
            },
        });
    </script>
</body>
</html>