<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>VueJS</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script> -->
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">  <!--HTML DOM template-->
        <!-- <input type="checkbox" name="interest" value="read" checked>閱讀
        <input type="checkbox" name="interest" value="sleep">睡覺
        <input type="checkbox" name="interest" value="game">電動
        <input type="checkbox" name="interest" value="diving">潛水 -->

        <input type="checkbox" v-model="interest" value="read">閱讀
        <input type="checkbox" v-model="interest" value="sleep">睡覺
        <input type="checkbox" v-model="interest" value="game">電動
        <input type="checkbox" v-model="interest" value="diving">潛水

        <p>{{interest}}</p>

        <!-- 查看Vue devtools -->
        <input type="checkbox" v-model="agree"> 同意
    </div>

    <script>
        new Vue({    
            el: '#app', 
            data: {      //變數存放的地方
                message: '',
                interest: [],
                agree: false,
            },
            methods: {  //函數放這裡               
               
            },
            computed: { //函數也可以放這裡，但是放在這裡的函數，不能傳參數，一定要有傳回值(return)    
                
            },
        });
    </script>
</body>
</html>