<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>VueJS -- watch & computed</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script> -->
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">  <!--HTML DOM template-->        
        <input v-model="x"> + <input v-model="y"> = <input v-model="z">
    </div>

    <script>        
        let vm = new Vue({    
            el: '#app',      
            data: {                
                x: 0,
                y: 0,
                // z: 0,
            },
            methods: {},
            computed: {
                z(){
                    return parseInt(this.x) + parseInt(this.y);
                }
            },
            watch: {  //偵聽器: 主要用來偵聽data和computed的變化
                // x(newValue){
                //     this.z = parseInt(newValue) + parseInt(this.y);
                // },
                // y(newValue){
                //     this.z = parseInt(this.x) + parseInt(newValue);
                // },
            },
        });
    </script>
</body>
</html>