<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    *{font-family: Calibri;font-size: 1rem;}
    a{text-decoration: none;}
  </style>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script> -->
  <script src="../js/vue.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <title>Vue JS -- 用v-for處理render一個物件以上</title>
</head>
<body>
  <div id="app">  <!-- HTML DOM template -->
    <!-- <h1><img src="../../images/foot.gif">About</h1>
    <h1><img src="../../images/foot.gif">Products</h1>
    <h1><img src="../../images/foot.gif">Contact</h1>
    <h1><img src="../../images/foot.gif">Nothing</h1>
    <h1><img src="../../images/foot.gif">Something</h1> -->

    <!-- 1 -->
    <!-- <h1 v-for="header in headers"><img src="../../images/foot.gif">{{header}}</h1> -->

    <!-- 2 -->
    <template v-for="(header,index) in headers">
      <h1>
        <img src="../../images/foot.gif">{{header}} <span> -- {{index}}</span>
      </h1>
    </template>

  </div>

  <script> 
    let vm = new Vue({  
      el:'#app',
      data: { //變數存放的地方
        //不同內容用陣列來表示，不用在html裡面寫死
        headers: ['About', 'Products', 'Contact', 'Nothing', 'Something'],
      },
      methods: {
      }
    });


  </script>

</body>
</html>